


#bottom-border {
    margin: 1px 0px 0px 0px;
    height: 0px;
    width: 100%;
    background: linear-gradient(60deg, rgb(200, 0, 0), rgb(220, 0, 0), rgb(250, 0, 0), rgb(220, 0, 0), rgb(200, 0, 0));
}

.gradient-border {
    --borderWidth: 1px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, rgb(200, 0, 0), rgb(220, 0, 0), rgb(250, 0, 0), rgb(220, 0, 0), rgb(200, 0, 0));
    border-radius: calc(2 * var(--borderWidth));
    z-index: 10;
    animation: animatedgradient 5s ease forwards;
}
  
  
@keyframes animatedgradient {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}