/* Sports Analytics */

body {
    background-color: lightgray;
    margin: 0;
    overflow-x: hidden;
}

p {
    margin: 0;
    color: rgb(255, 255, 255, .9);
    font-size:10pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navBar {
    width: 100%;
    margin: -3px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    height: 55px;
    background-color: #222222;
    position: fixed;
    /*border-bottom: rgba(255, 0, 0, .8) solid 50px;*/
}

#mainLogo {
    width: 100px;
    height: 50px;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    background-color: #222222;
    display: block;
    float: left;
}

#mainLogo #nflImg {
    background-image: url("images/nfl-logo.png");
    object-fit: scale-down;
    height: 40px;
    width: 40px;
    margin: 5px 0px 5px 5px;
    float: left;
}

#navLinks {
    width: 500px;
    height: 50px;
    margin: 0px 10px;
    padding: 0px;
    background-color: #222222;
    display: block;
    float: left;
}

#navLinks a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 0px;
    margin: 0px 30px 0px 0px;
    color: rgb(255, 255, 255, .9);;
    font-size: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navLinks a:hover{
    border-bottom: solid 2px rgba(240, 0, 0, 1);
}

#navProfile {
    margin: 0px 20px;
    display: block;
    float: right;
    height: 100%;
    width: 200px;
    background-color: #222222;
}

#navProfile #profileImg {
    background-image: url("images/profile.png");
    object-fit: scale-down;
    border-radius: 10px;
    opacity: .5;
    height: 40px;
    width: 40px;
    margin: 5px 10px 5px 5px;
    float: left;
}

#navProfile #profileInfo {
    margin: 6px 0px 5px 0px;
}

#navNotification {
    float: right;
    margin: 0;
    height: 100%;
    width: 60px;
    background-color: #222222;
    border-right: rgba(255, 255, 255, .1) 1px solid;
    border-left: rgba(255, 255, 255, .1) 1px solid;
}

#navNotification #notificationImg {
    height: 30px;
    width: 30px;
    margin: 10px 15px;
    background-image: url("/images/notification.png");
    object-fit: scale-down;
    opacity: .5;
    cursor: pointer;
}

#subNavigation {
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    margin: 0;
}

#subNavigation a {
    display: inline-block;
    text-decoration: none;
    margin: 15px 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10pt;
    font-weight: bold;
    transition: .5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#subNavigation a:hover {
    color: black;
    transition: .5s;
}
